tests/fixtures/v2/regression-basic.flowforge.test.json
{
  "workflow": {
    "name": "Regression Basic",
    "nodes": [
      {
        "id": "1",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [0, 0],
        "parameters": {
          "path": "lead",
          "httpMethod": "POST"
        }
      },
      {
        "id": "2",
        "name": "Format Lead",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [200, 0],
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              { "name": "email", "value": "={{ $json.body.email }}" },
              { "name": "status", "value": "qualified" }
            ]
          }
        }
      },
      {
        "id": "3",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [400, 0],
        "parameters": {
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [[{ "node": "Format Lead", "type": "main", "index": 0 }]]
      },
      "Format Lead": {
        "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {}
  },
  "cases": [
    {
      "name": "formats lead payload",
      "trigger": { "payload": { "body": { "email": "jane@example.com" } } },
      "expect": {
        "output": { "email": "jane@example.com", "status": "qualified" },
        "nodesExecuted": ["Webhook", "Format Lead", "Respond"]
      },
      "snapshot": true
    }
  ]
}
