tests/fixtures/valid-workflow.json
{
  "meta": {
    "instanceId": "abcd1234efgh5678"
  },
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 200],
      "parameters": {
        "path": "test-webhook",
        "httpMethod": "POST",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [300, 200],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "HTTP Request Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 200],
      "parameters": {
        "url": "https://api.crm.example/v1/leads",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "HTTP Request Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
