templates/workflows/lead-to-crm/workflow.json
{
  "nodes": [
    {
      "id": "t1",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "parameters": {
        "path": "lead-receiver",
        "httpMethod": "POST"
      }
    },
    {
      "id": "n2",
      "name": "Validate fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            }
          ]
        }
      }
    },
    {
      "id": "n3",
      "name": "Push to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        200
      ],
      "parameters": {
        "url": "https://api.my-crm.com/v1/leads",
        "method": "POST",
        "onError": "continue"
      }
    },
    {
      "id": "n4",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        700,
        200
      ],
      "parameters": {
        "url": "https://example.invalid/slack-webhook-placeholder",
        "method": "POST"
      }
    },
    {
      "id": "n5",
      "name": "Respond success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "parameters": {
        "responseCode": 200,
        "responseBody": "{\"status\": \"lead_created\"}"
      }
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Validate fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate fields": {
      "main": [
        [
          {
            "node": "Push to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to CRM": {
      "main": [
        [
          {
            "node": "Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notify": {
      "main": [
        [
          {
            "node": "Respond success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}